$color-primary: #eb3007;
$color-dark: #191919;
$color-light: #eee;

$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  // 10px / 16px = 62.5% : 1rem = 10px
  font-size: 62.5%;

  @media only screen and (max-width: $media-md) {
    font-size: 57.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-light;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: 1.75rem;
  padding: 1.5rem 1.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  background-color: $color-primary;
  color: $color-light;
}
