svg {
  height: 2rem;
  width: 2rem;
}

.nav {
  position: absolute;
  width: 95%;
  max-width: 1200rem;
  left: 50%;
  transform: translateX(-50%);
  height: 8rem;
  border-bottom: 1px solid rgba(#fff, 0.1);

  display: flex;
  align-items: center;

  &__logo {
    background-color: $color-primary;
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    display: flex;
    margin-right: 4rem;

    svg {
      height: 3rem;
      width: 3rem;
      margin: auto;
    }
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 0;
  }

  // 1st level menu
  &__list {
    display: flex;
    line-height: 8rem;
  }

  &__item {
    padding: 0 1.5rem;

    &:hover {
      & > .nav__sublist {
        top: 8rem;
        opacity: 1;
        visibility: visible;
      }
    }

    &--alt {
      position: relative;
    }
  }

  &__link {
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: $color-primary;
    }
  }

  // Nested
  &__sublist {
    line-height: 4rem;
    width: 20rem;
    border-radius: 3px;
    position: absolute;
    background-color: $color-dark;
    border-top: 3px solid $color-primary;
    padding: 1rem 0;
    transition: all 0.3s;

    opacity: 0;
    visibility: hidden;
    top: 12rem;

    &::before {
      content: "";
      position: absolute;
      border: 1.2rem solid transparent;
      border-bottom-color: $color-primary;
      top: -2.4rem;
      left: 1.2rem;
    }

    &__item {
      &:hover {
        & > .nav__sublist--alt {
          left: 100%;
          top: 0;
        }
      }
    }

    &--alt {
      left: 125%;
      top: 0;
      border: none;
      border-left: 3px solid $color-primary;

      &::before {
        content: "";
        position: absolute;
        border: 1.2rem solid transparent;
        border-right-color: $color-primary;
        top: 1.2rem;
        left: -2.4rem;
      }
    }
  }
}
