.nav {
  position: absolute;
  width: 95%;
  max-width: 1200rem;
  left: 50%;
  transform: translateX(-50%);
  height: 8rem;
  border-bottom: 1px solid rgba(#fff, 0.1);
  display: flex;
  align-items: center;

  &__logo {
    background-color: $color-primary;
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    display: flex;
    margin-right: 4rem;

    svg {
      height: 3rem;
      width: 3rem;
      margin: auto;
    }
  }

  &__toggle {
    display: none;
  }

  // 1st level navlist
  &__list {
    display: flex;
    line-height: 8rem;
  }

  &__item {
    padding: 0 1.5rem;

    &:hover {
      & > .nav__sublist {
        top: 8rem;
        opacity: 1;
        visibility: visible;
      }
    }

    &--alt {
      position: relative;
    }
  }

  &__link {
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 0.3s;

    svg {
      vertical-align: middle;
      height: 1.5rem;
      width: 1.5rem;
    }

    &:hover {
      color: $color-primary;
    }
  }

  // Nested sub navlist
  &__sublist {
    line-height: 4rem;
    width: 20rem;
    border-radius: 3px;
    position: absolute;
    background-color: $color-dark;
    border-top: 3px solid $color-primary;
    padding: 1rem 0;
    transition: all 0.3s 0.2s;

    opacity: 0;
    visibility: hidden;
    top: 12rem;

    &::before {
      content: "";
      position: absolute;
      border: 1.2rem solid transparent;
      border-bottom-color: $color-primary;
      top: -2.4rem;
      left: 1.2rem;
    }

    &__item {
      &:hover {
        & > .nav__sublist--alt {
          left: 100%;
          top: 0;
        }
      }
    }

    &--alt {
      left: 125%;
      top: 0;
      border: none;
      border-left: 3px solid $color-primary;

      &::before {
        content: "";
        position: absolute;
        border: 1.2rem solid transparent;
        border-right-color: $color-primary;
        top: 1.2rem;
        left: -2.4rem;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    transform: initial;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: transparent;
    overflow-y: auto;

    &--active {
      background-color: $color-dark;
      min-height: 100%;

      .nav__list {
        display: flex;
      }

      .nav__toggle {
        &--menu {
          display: none;
        }

        &--close {
          display: block;
        }
      }
    }

    &__logo {
      margin-left: 1.5rem;
      margin-bottom: 2rem;
    }

    &__toggle {
      display: block;
      position: absolute;
      right: 2rem;
      top: 2rem;

      svg {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
      }

      &--menu {
        display: block;
      }

      &--close {
        display: none;
      }
    }

    // 1st level navlist
    &__list {
      flex-direction: column;
      line-height: 4rem;
      display: none;
    }

    // Nested sub navlist
    &__sublist {
      position: initial;
      opacity: 1;
      visibility: visible;
      border: none;
      border-left: 3px solid $color-primary;
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: none;

      &::before {
        display: none;
      }
    }

    &__item {
      &:hover {
        & > .nav__sublist {
          height: auto;
          padding: 0.5rem 0;
        }
      }
    }
  }
}
